@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-8xl py-16 font-extrabold text-cyan-700;
    }
    h2 {
        @apply text-6xl py-12 font-extrabold text-cyan-700;
    }
    h3 {
        @apply text-4xl py-8 font-extrabold text-cyan-700;
    }
    .container {
        @apply p-7 lg:p-20 m-auto;
    }
}

@layer components {
    .timeline-circle::before {
        @apply bg-cyan-700;
        content: "";
        position: relative;
        width: 16px;
        height: 16px;
        top: 26px;
        left: -37px;
        border-radius: 50%;
        display: inline-block;
    }
}
